<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" >
        <title>Ver Profesionales</title>
        <link href="css/one-page-wonder.min.css" rel="stylesheet">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="/img/icon.png">
        <link rel="stylesheet" href="css/lista_pacientes.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
        <script src="/js/checkboxone.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navBar">
            <div class="containerImg">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img class="logo" src="/img/login/fondo.jpg" alt="Img logo MediLab">
                </a>
            </div>
        </nav>

        <div class="container m-5" >

            <h1>Lista de Profesionales</h1>
            <form th:action ="@{/profesional/filtrar/especialidad}" method="get">
                        <label for="especialidad">Especialidad:</label>
                        <input type="text" id="especialidad" name="especialidad" th:value="${filtro.especialidad}">
               <button type="submit"> Buscar por especialidad</button>
            </form>
               
            <form th:action="@{/profesional/filtrar/obraSocial}" method="get">
             <label for="obraSocial">ObraSocial:</label>
                        <input type="text" id="obraSocial" name="obraSocial" th:value="${filtro.obraSocial}">
                <button type="submit"> Buscar por obra social</button>
            </form>
            </form>
                       
                        
            <form>  <button type="submit"> Buscar </button> </form>
           <form th:action="@{/paciente/turnos}" method="GET">
               <table class="table">
                    <thead>
                        <tr>
                            <th>Seleccionar</th>
                            <th>Nombre</th>
                            <th>Especialidad</th>
                            <th>Obra Social</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="profesional : ${profesionales}">
                            <td><input type="radio" th:name="profe" th:value="${profesional.email}" /></td>
                            <td th:text="${profesional.nombre}"></td>
                            <td th:text="${profesional.especialidad.nombre}"></td>
                            <td th:text="${profesional.obraSocial}"></td>
                            <!-- Agrega aquí las columnas adicionales que necesites -->
                        </tr>
                        
                    </tbody>
                </table>
                
                <button
                    class="btn btn-primary btn-lg"
                    role="button"
                    type="submit">Pedir Turno</button>
            </form>

            <a  th:href="@{/logout}"  class="btn btn-primary btn-lg" type="button">
                Cerrar sesion
            </a>
            <a  th:href="@{../profesional/perfil}"  class="btn btn-primary btn-lg" type="button">
                Ir al perfil profesional
            </a>
            <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Exito ð</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                <div class="card-body">
                    <h5 class="card-title">Error ð</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>

          

        </div>




        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>