<!DOCTYPE html>
<html>
    <head>
        <title>Pacientes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table class="table table" style="margin-top:20px;width:40%; border: 2px solid black;">
                    <thead>
                        <tr>
                            <th scope="col">Noticia</th>
                            <th scope="col">Ir a la noticia</th>
                            <th scope="col">Modificar</th>
                            <th scope="col">Elminiar </th>
                        </tr>
                    </thead>
                    <tbody th:each="noticia : ${noticias}">
                        <tr>
                            <th th:text="${noticia.titulo}" scope="row"></th>
                            <td>
                                <a th:href="@{../VistaNoticia/__${noticia.titulo}__}" th:text="${noticia.titulo}" style="padding: 5px5px; background-color: lightblue"></a>
                            </td>
                            <td>
                                <a th:href="@{../Modificar/__${noticia.titulo}__}" style="padding: 3px 3px; border-radius: 30%; background-color: #007bff; color:white; text-decoration: none;">Modificar</a>
                            </td>
                            <td>
                                <a th:href="@{../Modificar/__${noticia.titulo}__}" style="padding: 3px 3px; border-radius: 30%; background-color: #007bff; color:white; text-decoration: none;">Eliminar</a>
                            </td>
                        </tr>                    
                    </tbody>
                </table>
    </body>
</html>
