<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Perfil Profesional</title>
    </head>
    <body>
        <h1>Perfil Profesional</h1>

        <!-- Formulario para seleccionar una especialidad -->
        <form th:action="@{/profesional/perfil}" method="POST">
            <div>
                <label for="especialidad">Especialidad:</label>
                <select id="especialidad" name="especialidad">
                    <option th:each="especialidad : ${especialidades}" th:value="${especialidad.nombre}" th:text="${especialidad.nombre}"></option>
                </select>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Seleccionar Especialidad</button>
        </form>
        <!--//-->
        <form th:action="@{/profesional/turnosElegidos}" method="GET">
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Ver turno por medico</button>
        </form>
        <!-- Formulario para crear una especialidad -->
        <form th:action="@{/profesional/crearEspe}" method="post">
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <button type="submit">Crear Especialidad</button>
        </form>
        
        <form th:action="@{/profesional/turnosSeleccionados}" method="post">
            <table>
                <tr>
                    <th>Día</th>
                    <th>Horario</th>
                    <th>Seleccionar</th>
                </tr>
                <tr th:each="turno : ${turnos}">
                    <td th:text="${turno.dia}"></td>
                    <td>
                        <span th:each="horario : ${turno.horario}">
                            <label th:text="${horario}"></label>
                            <input type="checkbox" th:name="turnosSelec" th:value="${turno.id}" />
                        </span>
                    </td>
   
                </tr>
                <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            </table>
            <button type="submit">Guardar</button>
        </form>
    </body>
</html>