<!DOCTYPE html>

<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Registrate</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/registro-pacientes.css" />
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-5">
                <img th:src="${modo}== 'editar' ? '/img/registros/editarForm.png'  :'/img/registros/fondo.png'"
                    class="img-fluid " />
            </div>
            <div class="col-7">
                <br />
                <div class="row">


                    <div class="col-12">
                        <form class="formulario" th:object="${profesional}"
                            th:action="${modo}== 'editar' ? @{/profesional/editar} : @{/profesional/registro-profesional}"
                            method="POST" enctype="multipart/form-data">


                            <div class="form-group my-3">

                                <h3 th:text="${modo}== 'editar'? 'Editar perfil':'Registar Profesional'"
                                    class="card-title text-center"></h3>
                            </div>

                            <div class="form-group my-3">
                                <label for="nombre" class="form-label">Nombres</label>
                                <input th:field="*{nombre}" th:readonly="${modo}=='editar'" type="text"
                                    class="form-control" placeholder="ej. Juan" />
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('nombre')}"
                                    th:errors="*{nombre}"></div>
                            </div>
                            <div class="form-group my-3">
                                <label for="apellido" class="form-label">Apellidos</label>
                                <input th:field="*{apellido}" th:readonly="${modo}=='editar'" type="text"
                                    class="form-control" placeholder="ej. Aguirre" required="true" />
                            </div>
                            <div class="form-group my-3">
                                <label for="dni" class="form-label">Documento</label>
                                <input th:field="*{dni}" th:readonly="${modo}=='editar'" type="number"
                                    class="form-control" placeholder="Dni" required>

                                <div class="alert alert-warning" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input th:field="*{telefono}" type="text" class="form-control" placeholder="Teléfono" />
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('telefono')}"
                                    th:errors="*{telefono}"></div>
                            </div>

                            <div class="form-group my-3">
                                <label for="ubicacion" class="form-label">Ubicación</label>
                                <input th:field="*{ubicacion}" type="text" class="form-control"
                                    placeholder="Dirección 123" required="true" />
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('ubicacion')}"
                                    th:errors="*{ubicacion}"></div>
                            </div>

                            <div class="form-group my-3">
                                <label for="email" class="form-label">Email</label>
                                <input th:field="*{email}" type="email" class="form-control"
                                    placeholder="ejemplo@mail.com" required="true" />
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}"
                                    th:errors="*{email}"></div>
                            </div>

                            <div class="form-group my-3">

                                <label for="sexo" class="form-label">Genero</label>
                                <select class="form-select" id="sexo" name="sexo" required="true">
                                    <option>Seleccionar</option>
                                    <option>Femenino</option>
                                    <option>Masculino</option>
                                    <option>No definido</option>
                                </select>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('sexo')}"
                                    th:errors="*{sexo}"></div>
                            </div>

                            <div class="form-group my-3">
                                <label for="obraSocialId" class="form-label">Obras Sociales</label>

                                <div class="form-check" th:each="obra : ${obras}">
                                    <input th:checked="${profesional?.obraSocial?.contains(obra)}"
                                        name="obrasSocialesId" th:value="${obra.id}" class="form-check-input"
                                        type="checkbox" id="flexCheckChecked" />
                                    <label class="form-check-label" for="flexCheckChecked" th:text="${obra.nombre}">

                                    </label>
                                </div>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('obraSocial')}"
                                    th:errors="*{obraSocial}"></div>
                            </div>


                            <div class="form-group my-3">
                                <label for="especialidadId" class="form-label">Especialidad:</label>
                                <select class="form-select" name="especialidadId" required="true">
                                    <option value="0">Seleccionar</option>
                                    <option th:selected="${profesional?.especialidad?.id} == ${especialidad.id}"
                                        th:each="especialidad : ${especialidades}" th:value="${especialidad.id}"
                                        th:text="${especialidad.nombre}">
                                    </option>
                                </select>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('especialidad')}"
                                    th:errors="*{especialidad}"></div>
                            </div>



                            <div class="form-group my-3">

                                <div class="form-group my-3">
                                    <label for="tipoAtencion" class="form-label">Tipo de atención: </label>
                                    <select class="form-select" id="tipoAtencion" name="tipoAtencion" required="true">
                                        <option th:selected="${profesional?.tipoAtencion=='Virtual'}" value="Virtual">
                                            Virtual</option>
                                        <option th:selected="${profesional?.tipoAtencion=='Presencial'}"
                                            value="Presencial">Presencial</option>
                                        <option th:selected="${profesional?.tipoAtencion=='Ambas'}" value="Ambas">
                                            Ambas</option>
                                    </select>
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('tipoAtencion')}"
                                        th:errors="*{tipoAtencion}"></div>
                                </div>

                                <div class="form-group my-3">
                                    <label
                                        th:text="${modo}== 'editar' ? 'Actualizar foto de perfil':'Foto de perfil'"></label>
                                    <input name="imagen_file" type="file" accept="image/png, image/jpeg" />
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('imagen')}"
                                        th:errors="*{imagen}"></div>
                                </div>

                                <div class="form-group my-3" th:if="${modo == 'registrar'}">
                                    <input type="password" class="form-control" name="password" placeholder="Contraseña"
                                        required="true" />
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}"
                                        th:errors="*{password}"></div>
                                </div>
                                <div class="row">
                                    <div class="d-grid gap-2 col-6 mx-auto">
                                        <button th:href="@{/login}" class="btn btn-primary btn-lg" type="submit">
                                            Guardar
                                        </button>
                                    </div>

                        </form>

                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-primary btn-lg" type="button">
                                <a th:href="@{../seleccion-usuario}" class="btn btn-primary" role="button">
                                    Volver</a>
                            </button>
                        </div>

                    </div>

                </div>


            </div>

        </div>
        <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
            <div class="card-body">
                <h5 class="card-title">Error!</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</body>

</html>